
.fBlock{
    background: black;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.fBlock_wrap {
    display: flex;
    margin: auto;
}
.fBlock_left {
   margin: auto 0 auto 50px ;

   
}
.fBlock_left h1 {
    color: aliceblue;
    text-transform: uppercase;
    font-size: 58px;
    width: 700px;
    text-align: left;
    
}
.fBlock_right {
    
   overflow: hidden;
}

.fBlock_right img{
    width: 716px;
    height: 675px;
    
    
}

.logo_link a{
    color: #fff
}